// .parent {
//   text-decoration: none;
// }


//rbc-header
[class="rbc-header"] {
  border: none;
}
[class="rbc-header rbc-today"] {
  border: none;
}

// rbc-button-link
[class="rbc-button-link"] {
font-size: 22px;
margin-bottom: 9px;
font-weight: bold;
display: flex;
align-items: flex-start;
}


// //rbc-button-link
// [class="rbc-button-link"] {
//   font-weight: bold;
//   font-size: 30px;
//   // text-decoration: line-through;
//   padding-block: 55px;
//   margin-bottom: 25px;
  
// }
// // rbc-time-header-content
// [class="rbc-time-header-content"] {
// }

// //rbc-row rbc-time-header-cell
// [class="rbc-row rbc-time-header-cell"] {
// // text-decoration: line-through;
// }

// rbc-time-view
// [class="rbc-time-gutter rbc-time-column"] {
//   font-weight: normal;
//   font-size: large;
// }
