//rbc-header
[class="rbc-header"] {
  border: none;
}

[class="rbc-header rbc-today"] {
  border: none;
}

// rbc-button-link
[class="rbc-button-link"] {
  font-size: 22px;
  margin-bottom: 9px;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
}

// rbc-today
[class="rbc-day-slot rbc-time-column rbc-now rbc-today"] {
  background-color: #f1f1f1;
}

//rbc-day-bg rbc-today
[class="rbc-day-bg rbc-today"] {
  background-color: #f1f1f1;
}

// rbc-today
[class="rbc-header rbc-today"] {
  background-color: #f1f1f1;
}

// rbc-timeslot-group
[class="rbc-timeslot-group"] {
  border: none;
}

// rbc-time-content
[class="rbc-time-content"] {
  border: none;
}

// rbc-event
[class="rbc-event"] {
  margin-left: 5px;
}

// rbc-time-view
[class="rbc-time-view"] {
  border: none;
}

//rbc-time-header-content
[class="rbc-time-header-content"] {
  border: none;
}

//rbc-time-content
[class="rbc-time-content"]>*+*>* {
  border: none;
}

//.rbc-day-slot .rbc-event, .rbc-day-slot .rbc-background-event
[class*='rbc-day-slot'] [class="rbc-event"] {
  border: none;
}

//ms-Callout-beak beak-222
[class='ms-Callout-beak beak-222'] {
  visibility: hidden;
}

[id="filterBtn"] {
  cursor: pointer;
  margin-top: 14px;
}

[id="clearFilterBtn"] {
  cursor: pointer;
  margin-top: 14px;
}

[id="clearFilterBtn"]:hover {
  color: firebrick;
  transform: matrix(0.2);
}

[id="hasLocationDropdown"] {
  width: 451px;
}

[id="hasDisplayDeviceDropdown"] {
  width: 451px;
}

[id="hasVideoDeviceDropdown"] {
  width: 451px;
}

.myCalendarParent {
  display: flex;
  flex-direction: row;
}

.roomDesc {
  margin-top: 81px;
  padding-left: 50px;
  gap: 20px;
}

.filterButtons {
  gap: 15px;
  margin-top: 15px;
}

.reactBigCalendarParent {
  width: 100%;
}

.reactBigCalendar {
  height: 100%;
  width: 100%;
  margin: 55px;
}

.chooseEquipmentLabel {
  margin-bottom: -14px;
}

#capacityResetBtn {
  cursor: pointer;
  margin-left: -14px;
  margin-top: 7px;
}

#capacityResetBtn:hover {
  color: firebrick;
}

#locationResetBtn {
  cursor: pointer;
  margin-left: 8px; 
  margin-top: 36px;
}

#locationResetBtn:hover {
  color: firebrick;
}

#hasDisplayDeviceResetBtn {
  cursor: pointer;
  margin-left: 8px; 
  margin-top: 8px;
}

#hasDisplayDeviceResetBtn:hover {
 color: firebrick;
}

#hasVideoDeviceResetBtn {
  cursor: pointer;
  margin-left: 8px; 
  margin-top: 8px;
}


